==
<footer id="footer"><!-- Footer -->
    <ul class="icons">
        <li><a href="#" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/crazyfishdesign21" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
        <li><a href="https://uk.linkedin.com/in/kaimistrzowski" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>   
        <li><a href="#" class="icon alt fa-instagram" target="_blank"><span class="label" target="_blank">Instagram</span></a></li>
        <li><a href="https://github.com/kaimistrzowski" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
        <li><a href="#" class="icon alt fa-envelope" target="_blank"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; {{ "now"|date("Y") }} Crazy Fish Design. All rights reserved.</li>
    </ul>
</footer>