==
<h1 id="logo"><a href="{{ 'home'|page }}">CrazyFish.Design</a></h1>
<nav id="nav">
    <ul>
        <li><a href="{{ 'home'|page }}">Home</a></li>
        <li><a href="{{ 'services'|page }}">Services</a>
            <ul>
                <li><a href="{{ 'services'|page }}">Web Design and Development</a></li>
                <li><a href="{{ 'services'|page }}">Ecommerce Websites</a></li>
                <li><a href="{{ 'services'|page }}">App Development</a></li>
                <li><a href="{{ 'services'|page }}">SEO</a></li>
                <li><a href="{{ 'services'|page }}">Digital Marketing</a></li>
                <li><a href="{{ 'services'|page }}">Support & Maintenance</a></li>
            </ul>
        </li>
    </ul>
</nav>